@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1



*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666
body input:required:valid,
body textarea:required:valid
  color: #666

html, body
  height: 100%

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.5
  font-family: $default-font
  overflow-x: hidden
  opacity: 1
  color: $accent-text

a, a:hover, a:active, a:focus
  color: inherit
  text-decoration: none

.img-responsive
  display: block
  max-width: 100%
  height: auto

a, input, textarea, button
  outline: none

.btn, .btn:focus, .btn:active
  display: inline-block
  background: $accent-green
  border: 2px solid $accent-green
  color: #fff
  font-weight: 600
  font-size: 17px
  white-space: nowrap
  line-height: 1
  padding: 21px 30px
  border-radius: 50px
  +mt(.3s)
  &:hover
    background: transparent
    color: $accent-green

.s-white
  background-color: #fff

.s-creamy
  position: relative
  background-color: #f0e9df
  &:before, &:after
    content: ''
    position: absolute
    width: 100%
    height: 52px
    background-position: center center
    background-size: cover
    background-repeat: repeat-x
    left: 0
  &:before
    background-image: url('../img/bg-creamy-before.png')
    top: -25px
  &:after
    background-image: url('../img/bg-creamy-after.png')
    bottom: -25px
  .section-title
    h3
      &:before, &:after
        background-color: #e5daca
        box-shadow: -14px 0 0 #e5daca, 14px 0 0 #e5daca

.section-title
  text-align: center
  h3
    display: inline-block
    text-transform: uppercase
    font-size: 55px
    line-height: 1.2
    color: $accent-brown
    font-family: "DepartmentHCyrillic", sans-serif
    font-weight: normal
    position: relative
    &:before, &:after
      content: ''
      position: absolute
      width: 8px
      height: 8px
      background-color: #f3ebdf
      border-radius: 50%
      box-shadow: -14px 0 0 #f3ebdf, 14px 0 0 #f3ebdf
      top: calc(50% - 4px)
    &:before
      left: -50px
    &:after
      right: -50px
    span
      color: $accent-green

//start TOGGLE-MNU
.toggle-mnu
  display: inline-block
  width: 28px
  height: 28px
  //margin-top: 14px

  span:after, span:before
    content: ""
    position: absolute
    left: 0
    top: 9px

  span:after
    top: 18px

  span
    position: relative
    display: block

  span, span:after, span:before
    width: 100%
    height: 3px
    background-color: $accent-brown
    transition: all 0.3s
    backface-visibility: hidden
    border-radius: 2px

  &.on span
    background-color: transparent

  &.on span:before
    transform: rotate(45deg) translate(-1px, 0px)

  &.on span:after
    transform: rotate(-45deg) translate(6px, -7px)
//end TOGGLE-MNU